body {
    background-color: #dddddd;
}
svg {
    width: 100%;
    height: 100%;

}
* {
    box-sizing: border-box;
}
.preloader {
	position: absolute;
	width: 102px;
	height: 102px;
	left: 50%;
	top: 50%;
	min-height: 102px;
	transform: translateX(-50%) translateY(-50%);
}
.preloader .small-circle {
	stroke-dasharray: 210;
	stroke-dashoffset: 210;
	transform-origin: 50%;
    animation: 1s draw-small infinite alternate;
}
@keyframes draw-small {
	0% { stroke-dashoffset: 0; transform: rotate(0deg); }
	100% { stroke-dashoffset: 210; transform: rotate(360deg); }
}
.preloader .big-circle {
	stroke-dasharray: 240;
	stroke-dashoffset: 240;
	transform-origin: 50%;
    animation: 1s draw-big infinite alternate 0.5s;
}
@keyframes draw-big {
	0% { stroke-dashoffset: 0; transform: rotateY(180deg) rotate(360deg); }
	100% { stroke-dashoffset: 240; transform: rotateY(180deg) rotate(0deg); }
}

/*hire me on fiverr.com*/
.hire-me {
  position: fixed;
  right: 0%;
  bottom: 0%;
}